{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "brace-style": ["error", "1tbs"],
    "camelcase": "error",
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "eol-last": "error",
    "func-names": "error",
    "implicit-arrow-linebreak": "error",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "keyword-spacing": ["error", { "before": true }, { "after": true }],
    "max-len": ["error", { "ignoreComments": true }, { "ignoreStrings": true }],
    "new-parens": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-assign": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "eslint no-proto": "error",
    "guard-for-in": "error",
    "no-tab": "error",
    "no-plusplus": "error",
    "no-spaced-func": "error",
    "no-underscore-dangle": "error",
    "nonblock-statement-body-position": ["error", "beside"],
    "padded-blocks":["error", "always"],
    "jsx-quotes": ["error", "prefer-single"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "no-extra-semi": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always"]
  }
}